*{
    margin: 0;
    padding: 0;
}

.h2 {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 32px;
    text-align: center; 
    margin: 0;
    margin-top: 40px;
    margin-bottom: 4px;
    color: #836FFF;
    font-size: 25px;
}

/* Estilo do menu */
header {
    background: linear-gradient(to right, #1b33cf, #9ea8e8, red);
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

    /* Estilo do rodapé */
footer {
    background: linear-gradient(to right, #1b33cf, #9ea8e8, red); 
    color: #fff;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.textos {
    width: 80%;
    font-size: 20px;
    font-style: italic;
    margin: 0; 
    padding-left: 10.5%;
    text-align: center;
}

.home a:active{
    text-decoration: line-through;
}
    

 .h1 {
    font-family: sans-serif, 'Times New Roman', Times, serif;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 32px;
    text-align: center; /* Center-align the h1 */
    margin: 0; /* Remove default margin */
    margin-top: 40px;
    margin-bottom: 4px;
    color: #836FFF;
    font-size: 25px;
}

img {
    height:40%;
    width: 40%;
    margin-bottom: 15px;
    margin-top: 15px;
}
div {
    display: flex;
    justify-content: center;
    
}

body{
    background: linear-gradient(to right, #6170cd, #d0d6f8, rgb(187, 87, 87));
    background-size: cover;
    margin: 0px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
nav a:hover{
    color:#1b33cf;
    cursor: pointer;
}